<section class="salary-pay-modal">
    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="/employee/<%=data.emp_type%>/<%=data.emp_id%>/pay_salary" method="post">
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <p>EMP ID</p>
                    </div>
                    <div class="col-6">
                        <input type="text" name="emp_id" value="<%=data.emp_id%>" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>EMP NAME</p>
                    </div>
                    <div class="col-6">
                        <input type="text" value="<%=data.emp_name%>" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>PAY DATE</p>
                    </div>
                    <div class="col-6">
                        <input type="date" name="pay_date" id="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>PAY AMOUNT</p>
                    </div>
                    <div class="col-6">
                        <input type="number" name="pay_amout" value="" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>    
        </div>
    </div>
    </div>
    </section> 