<section class="salary-pay-modal">
    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="/sales/addSale" method="post">
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <p>BRANCH</p>
                    </div>
                    <div class="col-6">
                        <input type="text" name="branch"  required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>AMOUNT IN BANK </p>
                    </div>
                    <div class="col-6">
                        <input type="number" name="bamount" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> AMOUNT IN CASH </p>
                    </div>
                    <div class="col-6">
                        <input type="text" name="camount" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>DATE</p>
                    </div>
                    <div class="col-6">
                        <input type="date" name="date" id="" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>    
        </div>
    </div>
    </div>
</section> 