<div class="sidebar">
    <div class="sidebar-item mt-3 ml-2">
        <a href="/vendors/<%=data.v_id%>" class="btn btn-outline-dark btn-block text-decoration-none">HOME</a>
    </div>
    <div class="sidebar-item mt-3 ml-2">
        <a class="text-decoration-none"><a class="btn btn-outline-dark btn-block" data-toggle="modal" data-target="#exampleModal"> ADD BILL</a></a>
    </div>
    <div class="sidebar-item mt-3 ml-2">
        <a href="#" class="text-decoration-none"><a class="btn btn-outline-dark btn-block" data-toggle="modal" data-target="#exampleModalPay"> PAY AMOUNT</a></a>
    </div>

    <div class="sidebar-item mt-3 ml-2">
        <a href="#" class="text-decoration-none"><a  href="/vendors/<%=data.v_id%>/add_history" class="btn btn-outline-dark btn-block"> ADD HISTORY</a></a>
    </div>
    <div class="sidebar-item mt-3 ml-2">
        <a href="#" class="text-decoration-none"><a  href="/vendors/<%=data.v_id%>/pay_history" class="btn btn-outline-dark btn-block"> PAY HISTORY</a></a>
    </div>
    <div class="sidebar-item mt-3 ml-2">
        <a href="#" class="text-decoration-none"><a  href="/vendors/<%=data.v_id%>/update" class="btn btn-outline-dark btn-block"> UPDATE</a></a>
    </div>

</div>